
<div id="map"></div>

<div id="details-left-section">
  <div>
    <h2 class="details-header">BeerRun</h2>
    <p>{{beerRun.name}}</p>
  </div>


  {{! Bars }}
  <div id="bars-section">
    <h2 class="details-header">Bars</h2>
    <ul class="list-group list-group-flush">
      {{#each barNames}}
        <li class="list-group-item">{{this}}</li>
      {{/each}}
    </ul>
  </div>


  {{! Review Submission }}
  <h2 class="details-header">Feedback</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card shadow-sm p-3 mb-5 bg-white rounded">
            <p class="card-text">Tell us what you think of the beer.</p>

            <div class="form-group">
              <form action="/trip/{{beerRun._id}}/review" method="post">
                <div class="col-md-12">
                  <textarea
                    class="form-control"
                    name="review"
                    type="text"
                    rows="3"
                    placeholder="Feedback"
                    required
                  ></textarea>
                </div>
                <div class="col-md-12 mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{! Reviews List }}
  <div>
    <div class="container">
      <div class="row">
        {{#each beerRun.reviews}}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{this.user.username}}</h5>
                <p class="card-text">{{this.comment}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

</div>


<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9jYXJiYWxsbyIsImEiOiJja3puMzVsaWM0YTl2MzBvMWVqcHJxaWhiIn0.UJWUB-BwaxMmZH4w7eSgGQ';

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: {{{centerCoordinates}}},
  zoom: 12
});

// will create a marker with popup for each of the bars
for (const bar of {{{barsArray}}}) {
  // create a HTML styled element for the marker
   const el = document.createElement('div');
   el.className = 'marker';

  // create a popup with the bar name
  const popup = new mapboxgl.Popup({ offset: 25 })
    .setText(bar.place_name);

  // create the Marker object and add location and popup information
  new mapboxgl.Marker(el)
    .setLngLat(bar.geometry.coordinates)
    .setPopup(popup)
    .addTo(map);
}
</script>