<h2>The Beer Run {{beerRun.name}} is right here!</h2>

<div id="map" class="fullwidth"></div>

{{#each beerRun.reviews}}
  <p>
    {{this.user.username}}
    {{this.comment}}
  </p>
{{/each}}

<div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <h5 class="card-title">Share your feedback</h5>
  <p class="card-text">Tell us what you think of the beer.</p>

  <div class="form-group">
    <form action="/trip/{{beerRun._id}}/review" method="post">
      <input type="text" class0"form-control mb-2 mr-sm-2" name="review" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9jYXJiYWxsbyIsImEiOiJja3puMzVsaWM0YTl2MzBvMWVqcHJxaWhiIn0.UJWUB-BwaxMmZH4w7eSgGQ';

const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: {{{centerCoordinates}}},
  zoom: 12
});

// will create a marker with popup for each of the bars
for (const bar of {{{barsArray}}}) {
  // create a HTML styled element for the marker
   const el = document.createElement('div');
   el.className = 'marker';

  // create a popup with the bar name
  const popup = new mapboxgl.Popup({ offset: 25 })
    .setText(bar.place_name);

  // create the Marker object and add location and popup information
  new mapboxgl.Marker(el)
    .setLngLat(bar.geometry.coordinates)
    .setPopup(popup)
    .addTo(map);
}
</script>